.btn-primary {
  display: inline-block;
  border-radius: 5px;
  padding: 10px 17px;
  margin: 3px;
}
.btn-primary:hover {
  transform: scale(0.98);
}

.btn-primary {
  background-color: #1375ED;
  font-weight: 600;
  font-size: 16px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
}
.btn-primary a {
  color: #FFFFFF;
}

@font-face {
  font-family: "Lato";
  src: url("fonts/Lato-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #EEEEEE;
  font-family: "Lato", sans-serif;
  font-style: normal;
  line-height: 1.6;
  color: #464646;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 75px;
  line-height: 19px;
  padding-right: 30px;
  font-weight: 400;
}
.navbar ul {
  display: flex;
  list-style-type: none;
  font-weight: 400;
}
.navbar li {
  padding: 15px;
}
.navbar a {
  color: #464646;
}
.navbar a:hover {
  color: #F37238;
}
.navbar .btn-primary a {
  color: #FFFFFF;
}

.heads {
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding: 0 70px;
}
.heads .border-box-1 {
  box-sizing: border-box;
  position: absolute;
  width: 370.97px;
  height: 470.59px;
  top: 65px;
  left: 55px;
  border: 18px solid #F37238;
  box-shadow: 0px 0px 47px rgba(243, 114, 56, 0.6);
  transform: rotate(90deg);
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
}
.heads .border-box-2 {
  box-sizing: border-box;
  position: absolute;
  width: 370.1px;
  height: 461.43px;
  left: 130px;
  border: 18px solid #1375ED;
  box-shadow: 0px 0px 66px rgba(19, 117, 237, 0.5);
  transform: rotate(-90deg);
  border-top-right-radius: 55px;
  border-bottom-left-radius: 55px;
  line-height: 22px;
}
.heads img {
  position: relative;
  top: 40px;
}
.heads h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 82px;
  text-transform: capitalize;
  color: #333333;
  height: 164px;
}
.heads h2 {
  height: 84px;
  font-weight: 700;
  font-size: 54px;
  line-height: 96px;
  text-transform: capitalize;
  color: #1375ED;
}
.heads h4 {
  height: 22px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #464646;
}
.heads .pic {
  position: relative;
}

.sec-1 {
  padding-top: 150px;
  text-align: center;
}
.sec-1 h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 51px;
  letter-spacing: 0.015em;
  color: #1375ED;
}
.sec-1 span h2 {
  color: #F37238;
}

.sec-2 {
  padding-top: 120px;
  display: flex;
  padding-left: 120px;
  padding-bottom: 100px;
}
.sec-2 .border-box-3 {
  box-sizing: border-box;
  position: absolute;
  width: 304px;
  height: 364px;
  left: 13px;
  top: 10px;
  background: #F37238;
  border: 12px solid #F37238;
  box-shadow: 0px 0px 47px rgba(243, 114, 56, 0.6);
  border-radius: 11px;
  transform: rotate(90deg);
}
.sec-2 .border-box-4 {
  box-sizing: border-box;
  position: absolute;
  width: 166px;
  height: 251px;
  left: 215px;
  bottom: 140px;
  background: #1375ED;
  box-shadow: 0px 0px 66px rgba(19, 117, 237, 0.5);
  border-radius: 12px;
  transform: rotate(-90deg);
}
.sec-2 .pic-1 {
  position: relative;
}
.sec-2 img {
  position: relative;
  border-radius: 4px;
}
.sec-2 .texts-1 {
  padding-left: 65px;
}
.sec-2 h3 {
  width: 630px;
  height: 80px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
}
.sec-2 p {
  width: 625px;
  height: 72px;
  padding-top: 30px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(51, 51, 51, 0.6);
}
.sec-2 .btn-primary {
  width: 193px;
  height: 52px;
  padding-left: 43px;
  padding-top: 13px;
}

.sec-3 {
  padding-top: 120px;
  padding-left: 120px;
  padding-bottom: 100px;
  height: max-content;
  width: 100%;
  background: rgba(19, 117, 237, 0.12);
  display: flex;
}
.sec-3 h3 {
  width: 630px;
  height: 80px;
  padding-top: 20px;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #333333;
}
.sec-3 p {
  width: 625px;
  height: 72px;
  padding-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(51, 51, 51, 0.6);
}
.sec-3 .btn-primary {
  width: 193px;
  height: 52px;
  padding-left: 43px;
  padding-top: 13px;
}
.sec-3 .pic-2 {
  position: relative;
}
.sec-3 img {
  position: relative;
  border-radius: 4px;
  padding-left: 65px;
}
.sec-3 .border-box-5 {
  box-sizing: border-box;
  position: absolute;
  width: 313px;
  height: 366px;
  left: 152px;
  background: #F37238;
  border: 12px solid #F37238;
  box-shadow: 0px 0px 47px rgba(243, 114, 56, 0.6);
  border-radius: 11px;
  transform: rotate(90deg);
}
.sec-3 .border-box-6 {
  box-sizing: border-box;
  position: absolute;
  width: 166px;
  height: 251px;
  bottom: 143px;
  left: 92px;
  background: #1375ED;
  box-shadow: 0px 0px 66px rgba(19, 117, 237, 0.5);
  border-radius: 12px;
  transform: rotate(-90deg);
}

#sec-3-1 {
  background: rgba(243, 114, 56, 0.12);
  padding-bottom: 55px;
}

.sec-4 h2 {
  font-weight: 700;
  font-size: 42px;
  line-height: 70px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #1375ED;
  padding-bottom: 40px;
}
.sec-4 .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 15px auto;
  width: max-content;
  box-sizing: border-box;
  width: 912px;
  height: 58px;
  background: rgba(19, 117, 237, 0.11);
  border-radius: 3px;
  padding: 16px 43px;
}
.sec-4 #arrow {
  left: 83%;
  right: -12.57%;
  top: 37.12%;
  bottom: -3.12%;
  border: 1.5px solid rgba(51, 51, 51, 0.6);
  transform: rotate(90deg);
}
.sec-4 p {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: rgba(51, 51, 51, 0.6);
  width: max-content;
}