@import 'config';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $light-color;
    font-family: $font;
    font-style: normal;
    line-height: 1.6;
    color: $color-splash;
}

a {
    text-decoration: none;
}

.navbar {
    @include set-background($primary-color);
    display: flex;
    justify-content: end;
    align-items: center;
    height: 75px;
    line-height: 19px;
    padding-right: 30px;
    font-weight: 400;

    ul {
        display: flex;
        list-style-type: none;
        font-weight: 400;
    }
    
    li {
        padding: 15px;
    }

    a {
        color: $color-splash;
    }

    a:hover {
        color: $teritary-color;
    }

    div {
        background-color: $secondary-color;
        font-weight: 600;
        font-size: 16px;
        padding: 10px 17px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 2px;
        border-top-right-radius: 2px;
        a {
            color: #FFFFFF;
        }

    }

}